
@keyframes glowing-border {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.best-match-highlight {
    background: linear-gradient(90deg, #ffc1f3, #e0b0ff, #d1c4e9, #ffc1f3);
    background-size: 400% 400%;
    animation: glowing-border 8s ease infinite;
}
#background-layer {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-size: cover; background-position: center;
    transition: background-image 1s ease-in-out;
    z-index: -1;
}
#background-layer::before {
    content: ''; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease-in-out;
}
.group\/body.vndb-mode #background-layer::before {
    background-color: rgba(0, 0, 0, 0.5);
}
#vndb-description::-webkit-scrollbar { width: 4px; }
#vndb-description::-webkit-scrollbar-track { background: transparent; }
#vndb-description::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: transparent;
}
.group\/body.locked-mode #background-layer::before {
    background-color: rgba(0, 0, 0, 0);
}